<% provide(:title, 'Sign up') %>
<body>
	<covers><%= link_to image_tag("http://i46.tinypic.com/289g6zo.jpg")%></covers>

<kiido><center>Sign up and be a kiido</center></kiido>
</br>
</br>
<div id="signingup">
<div class="row">
	<div id="video"><iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/94od4ap9aRI" frameborder="0" allowfullscreen></iframe></div>
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object=> f.object %>
      <%= render 'fields', :f => f %>
      <%= f.submit "Sign up", :class=> "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>
</body>
